* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
  display: flex;
}

.header-contents {
  width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header-logo {
  height: 70px;
}

.nav-list {
  display: flex;
  width: 100%;
  line-height: 70px;
  float: right;
}

.nav-list-item {
  list-style: none;
  font-size: 16px;
  color: white;
  padding: 0 30px 0 30px;
}

/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #ffffff;
  transition: 0.5s;
  position: absolute;

}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}

/* メニューのデザイン*/
.nav-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #fff;
  transition: .5s;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav-content {
  left: 0;/* メニューを画面に入れる */
  background-color: #ec715f;
  height: 70px;
}

.container {
  margin: 0 auto;
}

#mv {
  text-align: center;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  height: 650px;
}

.mv-title {
  font-size: 64px;
  color: #fafafa;
  padding-top: 200px;
}

.mv-text {
  color: #fafafa;
  font-size: 20px;
  padding-top: 10px;
}

#portfolio,
#profile {
  text-align: center;
  background-color: #eceff1;
}

.pf-title, .f-title, .p-title {
  font-size: 32px;
  color: #000000;
  padding-top :90px;
  padding-bottom: 8px;
}

.pf-title:after,
.f-title:after,
.p-title:after {
  content: '';
  display: block;
  width: 70px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  background-color: #ec715f;/*線の色*/
  margin: 8px auto 0 auto;
}

.pf-text, .f-text, .profile-text {
  padding: 30px 0 30px 0;
  font-size: 16px;
  color: #000000;
}

.production-group {
  display: flex;
  width: 920px;
  margin: 0 auto;
  flex-flow: row wrap;
  padding-bottom: 90px;
}

.production {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin: 10px 10px 0 0;
}

.bg-1 {
  background-image: url(img/sketch.jpg);
}

.bg-2 {
  background-image: url(img/websuku.png);
}

.bg-3 {
  background-image: url(img/write.jpg);
}

.bg-4 {
  background-image: url(img/webcamp.png);
}

.bg-5 {
  background-image: url(img/talk.jpg);
}

.bg-6 {
  background-image: url(img/webcamp-mother.png);
}

.production:nth-child(3n){
  margin-right: 0;
}

#feature {
  text-align: center;
  padding-bottom: 90px;
}

.strength {
  width: 320px;
  height: auto;
  display: inline-block;
}

.strength2 {
  width: 320px;
  height: auto;
  display: inline-block;
  margin: 0 10px 0;
}

.fa-code,
.fa-desktop,
.fa-gear {
  font-size: 60px;
  display: inline-block;
}

.s-title {
  font-size: 20px;
  color: #000000;
  padding: 10px 10px 0 0;
}


.p-container {
  width: 980px;
}

.face {
  background-image: url(img/my-icon.jpg);
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile-group {
  dipsplay: flex;
}
